:root {
  --background: #5500c2;
  --background-color-vis:#ffbde1 ;
  --background-image-visual: linear-gradient(
    -0.25turn,
    transparent,
    #ffbde1,
    #f69d3c
  );
  --background-color-front:#b6faee;
  --background-image-front: linear-gradient(
    -0.25turn,
    #b6faee,
    #e1a9f5,
    transparent
  );
}

/*mobile first styling*/

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  height:100vh;
  overflow-x: hidden;
}

/*************/
/**INLEIDING**/
/*************/

body > section:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  justify-items: center;
  margin-bottom:2em;
}

h1 {  
  font-size: clamp(1em, 1.5vw, 2em);
}

/*Blob 1*/

h1:before{
  content: "";
  width: clamp(7em, 20em, 15vw);
  height: clamp(7em, 20em, 15vw);
  position: absolute;
  background-color: var(--background-color-front);
  border-radius: 30% 70% 48% 52% / 30% 30% 70% 70%;
  left:50%;
  right: 50%;
  transform: translate(-50%, -50%);
  top: clamp(8em, 20em, 15vw);
  animation: blobBefore 3s linear infinite;
  transition: 1s ease-in-out;
}

h1.scale::before{
  transform: translate(-50%, -50%) scale(1.2);
}

@keyframes blobBefore{
  0%{
    border-radius: 30% 70% 48% 52% / 30% 30% 70% 70%;
  }
  50%{
    border-radius: 49% 51% 67% 33% / 54% 57% 43% 46%;
  }
  100%{
    border-radius: 30% 70% 48% 52% / 30% 30% 70% 70%;
  }
}

/*Blob 2*/

h1:after{
  content: "";
  width: clamp(8em, 21em, 16vw);
  height: clamp(8em, 21em, 16vw);
  position: absolute;
  background-color: var(--background-color-vis);
  left:50%;
  right: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  top: clamp(8em, 20em, 15vw);
  animation: blobAfter 3s linear infinite;
  transition: 1s ease-in-out;
}

h1.scale::after{
  transform: translate(-50%, -50%) scale(1.2);
}

@keyframes blobAfter{
  0%{
    border-radius: 59% 41% 38% 62% / 36% 61% 39% 64% ;
  }
  25%{
    border-radius: 30% 70% 48% 52% / 30% 30% 70% 70%;
  }
  50%{
    border-radius: 55% 45% 55% 45% / 51% 52% 48% 49%;
  }
  100%{
    border-radius: 59% 41% 38% 62% / 36% 61% 39% 64%;
  }
}

body > section:nth-of-type(1) > img {
  width: clamp(5em, 15em, 12vw);
  height: clamp(5em, 25em, 12vw);
  object-fit: cover;
  object-position: 30%;
  border-radius: 50%;
  margin: 5%;
  position: relative;
}

p {
  margin: 3%;
}

p:nth-of-type(2) {
  width: 80%;
}

/*Details*/

details{
  width: 80%;
}

details > details summary{
  margin-top: 1.5em;
  margin-left:1.5em;
}

/*Visual of front-end keuze + illustratie*/


body > section:nth-of-type(2) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
}

h2{
    margin-left: 5%;
}

/*carousel*/

ul{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 500%;
  overflow-x: scroll;
}

li{
  width: 100vw;
  margin: 0;
  padding: 0;
  animation: carouselEffect 25s linear infinite;
}

ul li img{
    height: 25em;
    width: 100vw;
    object-fit: cover;  
}

@keyframes carouselEffect {
  0%{
    transform: translateX(0)
  }
  100%{
    transform: translateX(-400vw)
  }
}
