:root {
  --background: #5500c2;
  --background-color-vis:#ffbde1 ;
  --background-image-visual: linear-gradient(
    -0.25turn,
    transparent,
    #ffbde1,
    #f69d3c
  );
  --background-color-front:#b6faee;
  --background-image-front: linear-gradient(
    -0.25turn,
    #b6faee,
    #e1a9f5,
    transparent
  );
}

/*mobile first styling*/

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  height:100vh;
  overflow-x: hidden;
}

/*Inleiding + foto*/

body > section:nth-of-type(1) {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 4;
  justify-items: center;
  margin-bottom:2em;
}

h1 {
  place-self: center;
  font-size: clamp(1em, 1.5vw, 2em);
}

body > section:nth-of-type(1) > img {
  width: clamp(5em, 15em, 12vw);
  height: clamp(5em, 25em, 12vw);
  object-fit: cover;
  object-position: 30%;
  border-radius: 50%;
  margin: 5%;
}

p {
  margin: 3%;
}

p:nth-of-type(2) {
  width: 80%;
}

/*Visual of front-end keuze + illustratie*/


body > section:nth-of-type(2) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  
}

h2{
    place-self: center;
}

/*carousel*/

ul{
  margin:0;
  padding:0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: auto;
  overflow-x: scroll;
}

li{
  width: 100%;
  margin: 0;
  padding: 0;
}
ul li img{
    height: clamp(25em, );
    width: auto;
    object-fit: cover;
}





/*
uiteindelijk heb ik mijn idee veranderd. Ik wil ipv een getekende animatie 2 carousellen hebben waarin je projecten kunt zien waaraan ik gwerkt heb

body > section:nth-of-type(2) > section:nth-of-type(1) > h2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  background-color: var(--background-color-vis);
  transform: translateY(-10%);
  z-index: -1;
}

body > section:nth-of-type(2) > section:nth-of-type(2) > h2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    background-color: var(--background-color-front);
    transform: translateY(-10%);
    z-index: -1;
  }*/


